name: PR Merge

on:
  push:
    branches:
      - master

env:
  CI: true
  IMAGE_NAME: rhiaqey/hub
  CARGO_TERM_COLOR: always
  CARGO_TAG_NAME: "GitHub Actions"
  CARGO_TAG_EMAIL: "github-actions@github.com"

permissions:
  contents: write

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: cargo build --verbose

      - name: Build release
        run: cargo build --release --verbose

      - name: Run tests
        run: cargo test --verbose -- --test-threads 1

      - name: Run release tests
        run: cargo test --release --verbose -- --test-threads 1

      - name: Git setup
        run: |
          git config user.name "$CARGO_TAG_NAME"
          git config user.email "$CARGO_TAG_EMAIL"

      - name: Cargo Verison
        run: |
          cargo run patch -m "Release %s

          [skip ci]
          "

      - name: Extract git branch
        run: |
          # Short name for current branch. For PRs, use target branch (base ref)
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          echo "GIT_BRANCH=$GIT_BRANCH" >> $GITHUB_ENV

      - name: Commit and push
        run: |
          echo "Current branch $GIT_BRANCH"
          git push origin $GIT_BRANCH
          git push origin $GIT_BRANCH --tags

      - name: Publish
        run: >
          cargo publish
          --verbose
          --locked
          --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
